@use 'sass:map';

$rgb-dark: ();

$theme-dark: (
  bg-primary: #181c24,
  bg-darker: rgb(0 0 0 / 0.1),
  bg-lighter: rgb(255 255 255 / 0.1),
  bg-overlay: rgb(9 30 51 / 0.75),
  bg-shadow: rgb(0 0 0 / 0.5),

  tx-primary: #a4acbe,

  scroll-track: #1d242b,
  scroll-thumb: #2a353f,
);
