$theme-dark: (
  back: 9 30 51 / 0.75,
  surface: 24 28 36,
  paper: 48 60 74,
  glass: 0 0 0 / 0.5,
  text: 164 172 190,

  line: 255 255 255 / 0.1,
  shadow: 0 0 0 / 0.5,

  scroll-track: 29 36 43,
  scroll-thumb: 42 53 63,
);
