*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button, input, textarea {
  background: unset;
  border: unset;
  color: unset;
  // font: unset;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

::-webkit-scrollbar-corner {
  background: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}
