$dark: (
  bg: #202830,
  tx: #d0d0d0,
  view-bg: #384048,
  view-border: #444e58,
);

$dark: map-merge(
  $dark,
  (
    bg-over: rgba(scale-color(saturate(map-get($dark, bg), 50%), $lightness: -25%), 0.75),
    bg-dk: rgba(black, 0.2),
    bg-lt: rgba(white, 0.1),
    scroll-track: scale-color(map-get($dark, bg), $lightness: -10%),
    scroll-thumb: scale-color(map-get($dark, bg), $lightness: 6%),
  )
);

:root {
  @each $color, $value in $dark {
    --#{$color}: #{$value};
  }
}
