:root {
  --red: 160 0 0;
  --orange: 255 128 0;
  --blue: 30 100 200;
}

@each $size in (16 18 24 36 48 72) {
  .f-#{$size} {
    font-size: #{$size}px;
  }
}

@each $color in (red, orange, blue) {
  .#{"" + $color} {
    color: rgb(var(--#{$color}));
  }
  .bg-#{"" + $color} {
    background-color: rgb(var(--#{$color}));
  }
}
