.f-36 { font-size: 36px; }
.f-72 { font-size: 72px; }

:root {
  --red: darkred;
  --orange: orange;
  --blue: dodgerblue;
}

.red { color: var(--red); }
.orange { color: var(--orange); }
.blue { color: var(--blue); }

.bg-red { color: var(--red); }
.bg-orange { color: var(--orange); }
.bg-blue { color: var(--blue); }
