.f-36 { font-size: 36px; }
.f-72 { font-size: 72px; }

.red { color: darkred; }
.orange { color: orange; }
.blue { color: dodgerblue; }

.bg-red { background-color: darkred; }
.bg-orange { background-color: orange; }
.bg-blue { background-color: dodgerblue; }
