@use 'reset';
@use 'font';
@use 'icons';
@use 'cursors';
@use 'utils';
@use 'typography';
@use 'colors' as *;

@mixin expand-map($map) {
  @each $name, $value in $map {
    --#{$name}: #{$value};
  }
}

@mixin set-font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

:root {
  @include expand-map($theme-dark);
}

// @media (prefers-color-scheme: light) {
//   :root {
//     @include expand-map($theme-light);
//   }
// }

:root {
  --fast: 0.25s;
  --slow: 1s;

  --radius-small: 4px;
  --radius-medium: 6px;
  --radius-large: 8px;

  --shadow-small: 0 0 5px 1px rgb(var(--shadow));
  --shadow-medium: 0 0 10px 10px rgb(var(--shadow));
  --shadow-large: 0 0 20px 10px rgb(var(--shadow));

  --z-app: 20;
  --z-dlg: 10;
}

body {
  background-image: url(@/assets/bg.png);
}

body,
dialog {
  color: rgb(var(--text));
}

.input {
  background: rgb(0 0 0 / 0.0625);
  border: none;
  border-bottom: 1px solid rgb(255 255 255 / 0.0625);
  color: inherit;
  padding: 0.25em;
}

p {
  margin: 0.75em 0;
  line-height: 1.25em;
}

.app,
.view {
  position: absolute;
  inset: 0;
}

.app {
  overflow: hidden;
  background: rgb(var(--back));
  box-shadow: 0 0 25vw rgb(0 0 0) inset;
}

.glass {
  background-color: rgb(var(--glass));
  backdrop-filter: blur(10px);
}

.tools {
  position: absolute;
  display: flex;
  gap: 0.25em;
  padding: 0.5em;
  line-height: 1;
}

.surface { background-color: rgb(var(--surface)); }
.paper { background-color: rgb(var(--paper)); }

.h-separator {
  height: 1px;
  background-color: rgb(var(--line));
}

.v-separator {
  width: 1px;
  background-color: rgb(var(--line));
}

svg text { user-select: none; }

.clip { overflow: hidden; }
.scrollable { overflow: auto; }
.hidden { visibility: hidden; }

.flex { display: flex; }
.col { flex-direction: column; }
.row { flex-direction: row; }
.flex-right { margin-left: auto; }
.ai-start { align-items: start; }
.ai-center { align-items: center; }
.as-stretch { align-self: stretch; }
.jc-center { justify-content: center; }

.round { border-radius: 50vh; }
.anchor { position: absolute; }
.left { left: 0; }
.right { right: 0; }
.top { top: 0; }
.bottom { bottom: 0; }
.gap-05 { gap: 0.5em; }
.gap-1 { gap: 1em; }

.m-05 { margin: 0.5em; }
.mx-05 { margin: 0 0.5em; }
.my-05 { margin: 0.5em 0; }
.m-1 { margin: 1em; }
.mx-1 { margin: 0 1em; }
.my-1 { margin: 1em 0; }

.p-1 { padding: 1em; }
.px-1 { padding: 0 1em; }
.py-1 { padding: 1em 0; }
.p-05 { padding: 0.5em; }
.px-05 { padding: 0 0.5em; }
.py-05 { padding: 0.5em 0; }

.mouse { pointer-events: all; }
.no-mouse { pointer-events: none; }
.no-resize { resize: none; }
