:root {
  --bg: #202830;
  --tx: #d0d0d0;
  --view-bg: #384048;
  --view-border: #444e58;
  --bg-over: rgb(9 30 51 / 0.75);
  --bg-dk: rgb(0 0 0 / 0.2);
  --bg-lt: rgb(255 255 255 / 0.1);
  --scroll-track: #1d242b;
  --scroll-thumb: #2a353f;

  --transition: 0.2s;
  --page-transition: 1s;

  --r: 4px;
  --shadow: 0 0 5px rgb(0 0 0 / 0.5);

  --w-margin: 16px;
  --w-radius: 4px;
  --w-resize: 8px;
  --w-shadow: 0 0 50px rgb(0 0 0 / 0.5);
  --w-splitter: 1px solid #a0a0a0;

  --z-app: 20;
  --z-window: 10;

  --view-shadow: 0 0 50px rgb(0 0 0 / 0.5);
  --popup-shadow: 0 0 10px rgb(0 0 0 / 0.5);

  --shape-shadow: drop-shadow(0 0 0.04px rgb(0 0 0 / 0.5));
  --shaft-shadow: drop-shadow(0 0 0.1px black);
  --shape-selected: drop-shadow(0 0 0.04px rgb(255 255 255));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

::-webkit-scrollbar-corner {
  background: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--tx);
  background-image: url(@/assets/bg.png);
}

input {
  background: rgb(0 0 0 / 0.0625);
  border: none;
  border-bottom: 1px solid rgb(255 255 255 / 0.0625);
  color: inherit;
  padding: 0.25em;
}

svg {
  font-family: Impact, Arial, sans-serif;
}

p {
  margin: 0.75em 0;
  line-height: 1.25em;
}

.app,
.view,
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.app {
  background: var(--bg-over);
  box-shadow: 0 0 25vw rgb(0 0 0) inset;
}

.app,
.view {
  overflow: hidden;
}

.overlay {
  overflow: visible;
}

.view {
  margin: 7vh 7vw 9vh 7vw;
  background-color: var(--view-bg);
  border: 1px solid var(--view-border);
  border-radius: 0.5em;
  box-shadow: var(--view-shadow);
}

.round {
  border-radius: 50vh;
}

.h-separator {
  width: calc(100% - 0.5em);
  height: 2px;
  border-top: 1px solid var(--bg-dk);
  border-bottom: 1px solid var(--bg-lt);
  margin: 0.5em 0.25em;
}

.v-separator {
  width: 2px;
  height: calc(100% - 0.5em);
  margin: 0.25em 0.5em;
  border-left: 1px solid var(--bg-dk);
  border-right: 1px solid var(--bg-lt);
}

.w-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  background-color: var(--bg);
  opacity: 0.9;
}

.w-header,
.w-footer {
  display: flex;
  margin: var(--w-margin);
  align-items: center;
  justify-content: center;
}

.w-header {
  border-bottom: var(--w-splitter);
  padding: calc(var(--w-margin) / 2) var(--w-margin) var(--w-margin);
}

.w-footer {
  border-top: var(--w-splitter);
  padding: var(--w-margin) var(--w-margin) calc(var(--w-margin) / 2);
}

.w-content {
  position: relative;
  flex: 1 1 auto;
  overflow: auto;
  pointer-events: auto;
  padding: 0 var(--w-margin);
}

.anchor {
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.flex {
  display: flex;
}

.flex-right {
  margin-left: auto;
}

.col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.w-100 {
  width: 100%;
}

.j-c {
  justify-content: center;
}

.a-c {
  align-items: center;
}

.m-05 {
  margin: 0.5em;
}
.m-1 {
  margin: 1em;
}
.p-05 {
  padding: 0.5em;
}
.p-1 {
  padding: 1em;
}

.no-mouse {
  pointer-events: none;
}

.mouse {
  pointer-events: all;
}

.cursor-default {
  cursor: url('@/assets/cursors/default.svg') 0 0, default;
}
.cursor-move {
  cursor: url('@/assets/cursors/move.svg') 13 13, move;
}
.cursor-not-allowed {
  cursor: url('@/assets/cursors/not-allowed.svg') 11 11, not-allowed;
}
.cursor-horizontal {
  cursor: url('@/assets/cursors/horizontal.svg') 13 13, ew-resize;
}
.cursor-vertical {
  cursor: url('@/assets/cursors/vertical.svg') 13 13, ns-resize;
}
.cursor-cross {
  cursor: url('@/assets/cursors/cross.svg') 13 13, crosshair;
}
.cursor-rotate-2d {
  cursor: url('@/assets/cursors/rotate-2d.svg') 13 10, ew-resize;
}
.cursor-rotate-3d {
  cursor: url('@/assets/cursors/rotate-3d.svg') 12 10, ew-resize;
}
.cursor-zoom-in {
  cursor: url('@/assets/cursors/zoom-in.svg') 9 9, move;
}
.cursor-zoom-out {
  cursor: url('@/assets/cursors/zoom-out.svg') 9 9, move;
}
