@use 'colors' as *;

@mixin expand-map($map) {
  @each $name, $value in $map {
    --#{$name}: #{$value};
  }
}

:root {
  @include expand-map($theme-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include expand-map($theme-dark);
  }
}

:root {
  --bg: #202830;
  --tx: #d0d0d0;
  --view-bg: #384048;
  --view-border: #444e58;
  --bg-over: rgb(9 30 51 / 0.75);
  --bg-dk: rgb(0 0 0 / 0.2);
  --bg-lt: rgb(255 255 255 / 0.1);
  --scroll-track: #1d242b;
  --scroll-thumb: #2a353f;

  --transition: 0.25s;
  --page-transition: 1s;

  --shadow: 0 0 5px rgb(0 0 0 / 0.5);

  --dlg-margin: 16px;
  --dlg-radius: 4px;
  --dlg-resize: 8px;
  --dlg-shadow: 0 0 50px rgb(0 0 0 / 0.5);

  --z-app: 20;
  --z-dlg: 10;

  --view-shadow: 0 0 50px rgb(0 0 0 / 0.5);
  --view-border-radius: 0.5em;
  --popup-shadow: 0 0 10px rgb(0 0 0 / 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

::-webkit-scrollbar-corner {
  background: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-image: url(@/assets/bg.png);
}

body,
dialog {
  color: var(--tx);
}

input {
  background: rgb(0 0 0 / 0.0625);
  border: none;
  border-bottom: 1px solid rgb(255 255 255 / 0.0625);
  color: inherit;
  padding: 0.25em;
}

svg text {
  user-select: none;
}

p {
  margin: 0.75em 0;
  line-height: 1.25em;
}

.app,
.view,
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.app {
  background: var(--bg-over);
  box-shadow: 0 0 25vw rgb(0 0 0) inset;
}

.view {
  margin: 7vh 7vw 9vh;
  background-color: var(--view-bg);
  border-radius: var(--view-border-radius);
  box-shadow: var(--view-shadow);
}

.round {
  border-radius: 50vh;
}

.h-separator {
  align-self: stretch;
  height: 2px;
  margin: 0.25em;
  border-top: 1px solid var(--bg-dk);
  border-bottom: 1px solid var(--bg-lt);
}

.v-separator {
  align-self: stretch;
  width: 2px;
  border-left: 1px solid var(--bg-dk);
  border-right: 1px solid var(--bg-lt);
}

.anchor {
  position: absolute;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex-right {
  margin-left: auto;
}

.align-center {
  align-items: center;
}

.gap-05 {
  gap: 0.5em;
}

.m-btn {
  margin: 0.375em 0.5em;
}

.m-1 {
  margin: 1em;
}

.p-1 {
  padding: 1em;
}

.p-05 {
  padding: 0.5em;
}

.no-mouse {
  pointer-events: none;
}

.mouse {
  pointer-events: all;
}

.cursor-default {
  cursor:
    url('@/assets/cursors/default.svg') 0 0,
    default;
}
.cursor-move {
  cursor:
    url('@/assets/cursors/move.svg') 13 13,
    move;
}
.cursor-not-allowed {
  cursor:
    url('@/assets/cursors/not-allowed.svg') 11 11,
    not-allowed;
}
.cursor-horizontal {
  cursor:
    url('@/assets/cursors/horizontal.svg') 13 13,
    ew-resize;
}
.cursor-vertical {
  cursor:
    url('@/assets/cursors/vertical.svg') 13 13,
    ns-resize;
}
.cursor-cross {
  cursor:
    url('@/assets/cursors/cross.svg') 13 13,
    crosshair;
}
.cursor-rotate-2d {
  cursor:
    url('@/assets/cursors/rotate-2d.svg') 13 10,
    ew-resize;
}
.cursor-rotate-3d {
  cursor:
    url('@/assets/cursors/rotate-3d.svg') 12 10,
    ew-resize;
}
.cursor-zoom-in {
  cursor:
    url('@/assets/cursors/zoom-in.svg') 9 9,
    move;
}
.cursor-zoom-out {
  cursor:
    url('@/assets/cursors/zoom-out.svg') 9 9,
    move;
}
